.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/public/cool-background.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  /* Use the global font */
}

.login-widget {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  /* Adds drop shadow */
  text-align: center;
  width: 350px;
  /* Adjust card width */
  max-width: 90%;
  /* Makes it responsive */
  transition: transform 0.3s, box-shadow 0.3s;
  /* Adds hover effect */
}

.login-widget:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  /* Darker shadow on hover */
  opacity: 100%;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container-land {
  margin-bottom: 20px;
}
.logo-container-land:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logo {
  width: 100px;
  object-fit: contain;
  transform: scale(3);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #333;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #555;
}

.form-container {
  margin-top: 20px;
}

.login-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #357ae8;
}

.google-icon {
  margin-right: 8px;
}
