/* wishlistModal.css */
.wishlist-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-content p {
  margin-left: 20px !important;
  font-size: 16px !important;
  color: #333 !important;
}

.wishlist-modal.open {
  display: block;
  animation: fadeIn 0.5s ease-in-out;

  /* Make sure it's visible when the 'open' class is added */
}

.close-button {
  font-size: 2.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.trash-button {
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.close-button:hover {
  color: red;
}
.trash-button:hover {
  color: red;
  animation: shake 0.5s ease-in-out;
}

.left-side-modal {
  margin-right: auto;
}
.right-side-modal {
  gap: 10px;
}

.wishlist-modal-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.wishlist-modal.close {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
